html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

body {
    color: #151618;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    text-align: center;
    margin-bottom: 60px;
    font-family: "Cormorant", serif;
    font-size: 40px;
    font-weight: 600;

}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    min-height: 140px;
}

.logo {
    margin-bottom: 35px;
}

.menu_btn {
    display: none;
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.menu_btn span {
    background-color: #000;
    height: 2px;
    width: 100%;
}

.menu--close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: background-color .3s ease;
}

.menu--close.menu--open {
    display: block;
}

.menu_list {
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
    position: relative;
    z-index: 3;
}

.mobile-nav,
.menu_close {
    display: none;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.user-actions_item-search {
    margin-left: 80px;
}

.top {
    background-image: url(../img/top-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

.top_inner {
    min-height: 500px;
    color: #fff;
    font-family: "Cormorant", serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top_title {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}

.top_text {
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
}

.blockquote_text {
    text-align: center;
    font-family: "Cormorant", serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    max-width: 704px;
    margin: 150px auto;
}












.assortment {
    margin-bottom: 150px;
}

.assortment-container {
    max-width: 1200px;
    margin: 0 auto;
}

.assortment_list {
    text-align: center;
    display: flex;
    gap: 0 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.assortment_img {
    max-width: 208;
    max-height: 208;
    width: 100%;
}

.assortment_name {
    padding-top: 10px;
    font-family: "Cormorant", serif;
    font-size: 24px;
    font-weight: 600;
}

.reviews {
    background-color: #F7F2EA;
    padding: 60px 0;
}

.reviews_list {
    display: flex;
    gap: 0 30px;
    justify-content: center;
    padding: 0px;
}

.reviews_item {
    flex-basis: 280px;
}

.reviews_block {
    margin: 10px;
}

.reviews_text {
    /* text-align: justify; */
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}

.reviews_name {
    font-weight: 600;
}

.main-blog {
    padding: 150px 0;
}

.main-blog_list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 60px;
    padding: 0px;
}

.main-blog_item {
    flex-basis: 550px;
    display: flex;
    gap: 0 20px;
}

.main-blog_item-content {
    display: flex;
    flex-direction: column;
}

.main-blog_item-title {
    font-family: "Cormorant", serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.main-blog_item-author {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 20px;
}

.main-blog_link {
    width: 152px;
    padding: 12px 41px;
    margin: 72px auto 0;
    display: flex;
    justify-content: center;
    border: 1px solid #151618;
}

.mailing-list {
    padding: 100px 0;
    background-color: #F7F2EA;
    background-image: url(../img/mailing-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.mailing-list_title {
    text-align: left;
    margin-bottom: 50px;
}

.mailing-list_inner {
    display: flex;
    gap: 60px 40px;
}

.mailing-list_text {
    line-height: 1.5;
    flex-basis: 580px;
}

.mailing-list_form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 580px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.mailing-list_email {
    border: none;
    border-bottom: 1px solid #B8B58B;
    background-color: transparent;
    padding: 3px 15px;
    width: 400px;
    max-height: 60px;
    margin-top: 22px;
    margin-right: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    color: #151618;
}

.mailing-list_email::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    color: #B8B58B;
}

.mailing-list_btn {
    background-color: #fff;
    border: 1px solid #151618;
    max-height: 60px;
    margin-top: 22px;
    padding: 12px 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.mailing-list_label {
    margin-left: 5px;
}

.checkbox_text {
    font-size: 13px;
    padding-left: 20px;
    margin: 0px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    padding-left: 20px;
}

.checkbox-style {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #151618;
    margin-top: 5px;
}

.checkbox:checked+.checkbox-style::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #151618;
    top: 1px;
    left: 1px;
}

.empty-sec {
    background-color: #F7F2EA;
}

.empty_block {
    border-top: 1px solid #151618;
    margin: 0 200px;
}

.footer {
    padding: 100px 0 20px 0;
    background-color: #F7F2EA;
}

.footer_inner {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 40px;
    font-size: 14px;
}

.footer_products-title,
.footer_company-title,
.footer_contacts-title {
    font-weight: 600;
    font-family: "Cormorant", serif;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 0;
}

.footer_products-item,
.footer_company-item {
    margin-bottom: 20px;
}

.footer_blockquote {
    margin: 16px 34px 16px 0;
}

.footer_blockquote-text {
    margin-top: 60px;
    margin-bottom: 20px;
    font-style: italic;
}

.footer_blockquote-author {
    font-size: 12px;
    font-style: normal;
}

.footer_blockquote-author span {
    display: block;
}

.footer_contacts-text {
    font-size: 13px;
    margin-bottom: 20px;
    width: 280px;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.footer_nav-logo {
    margin-right: 40px;
}

.footer_nav-contacts {
    margin-top: 20px;
}

.footer_nav-phone,
.footer_nav-email {
    font-size: 13px;
    position: relative;
    padding-left: 32px;
    display: block;
    margin-bottom: 20px;
}

.footer_nav-phone::before,
.footer_nav-email::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 22px;
    height: 16px;
    background-image: url(../img/email.svg);
}

.footer_nav-phone::before {
    background-image: url(../img/phone.svg);
    width: 21px;
    height: 21px;
}

.footer_social {
    margin-top: 40px;
    margin-left: 97px;
}

.footer_social-list {
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 0;
}

.footer_social-link {
    display: grid;
}

.footer_bottom {
    display: flex;
}

.footer_copy {
    margin-right: 192px;
    font-size: 16px;
}

.partners-logo {
    display: flex;
    gap: 0 20px;
}

.partners-logo_bad-item {
    display: flex;
    margin-top: 7px;
}

@media (max-width: 1000px) {
    .title {
        margin-bottom: 40px;
    }

    .user-actions_item-search {
        margin-left: 30px;
    }

    .menu {
        margin-right: auto;
    }

    .menu_list {
        margin-left: 60px;
    }

    .logo {
        margin-bottom: 0;
    }

    .header_inner {
        min-height: auto;
    }

    .blockquote_text {
        margin-top: 120px;
        margin-bottom: 135px;
    }

    .assortment {
        margin-bottom: 120px;
    }

    .assortment_list {
        gap: 0;
    }

    .reviews_item:last-child {
        display: none;
    }

    .main-blog {
        padding: 120px 0;
    }

    .main-blog_item-img {
        max-width: 230px;
    }

    .main-blog_item {
        flex-basis: 460px;
    }

    .main-blog_list {
        gap: 60px 20px;
    }

    .main-blog_link {
        margin-top: 60px;
    }

    .mailing-list_inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .mailing-list {
        padding: 60px 0px;
    }

    .mailing-list_title {
        text-align: center;
    }

    .mailing-list_text {
        text-align: center;
        flex-basis: 780px;
    }

    .mailing-list_label {
        margin-top: 20px;
        margin-right: 10px;
    }

    .empty_block {
        margin: 0 40px;
    }

    .footer_products,
    .footer_company {
        padding: 0;
    }

    .footer_blockquote {
        width: 260px;
        margin-right: 0;
    }

    .footer_blockquote-text {
        margin-top: 60px;
        padding-top: 2px;
        margin-right: 0;
    }

    .footer_inner {
        margin-bottom: 55px;
    }

    .footer_copy {
        margin: 40px 60px 0 0;
        padding-top: 5px;
    }

    .partners-logo {
        margin-bottom: 0;
        margin-top: 40px;
        padding: 0;
    }
}

@media (max-width: 860px) {
    .menu_list {
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #fff;
        border: 2px solid #000;
        border-top: none;
        display: block;
        text-align: center;
        padding-top: 60px;
        padding-left: 0;
        transition: transform .6s ease;
    }

    .menu_list.menu_list--open {
        transform: translateY(0%);
    }

    .menu_close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu_item {
        margin-bottom: 30px;
        font-size: 24px;
        font-family: "Cormorant", serif;
        font-weight: 600;
    }

    .mobile-menu {
        padding-top: 60px;
        padding-left: 0;
        margin: 60px 30px;
        border-top: 2px solid #000;
        font-size: 14px;
    }

    .mobile-menu_item {
        margin-bottom: 35px;
    }

    .menu_btn {
        display: flex;
    }

    .mobile-nav,
    .menu_close {
        display: block;
    }

    .menu {
        order: -1;
        margin-right: 0;
    }

    .logo {
        margin-left: auto;
        margin-right: 154px;
    }
}

@media (max-width: 768px) {
    .header_inner {
        padding-left: 64px;
        padding-right: 64px;
    }

    .user-actions {
        padding-left: 0;
    }

    /* .logo{
        margin-left: 200px;
    } */

    .blockquote_text {
        max-width: 640px;
    }

    .assortment_list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviews_item:last-child {
        display: block;
    }

    .reviews_list {
        flex-wrap: wrap;
        gap: 30px 76px;
    }

    .main-blog_item {
        flex-basis: 540px;
    }

    .main-blog_list {
        gap: 30px 20px;
        margin-left: 20px;
    }

    .main-blog_item:nth-child(even) {
        margin-left: 100px;
    }

    .mailing-list_text {
        flex-basis: 640px;
    }

    .empty_block {
        margin: 0 80px;
    }

    .footer_inner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        margin: 0;
    }

    .footer_products,
    .footer_company {
        grid-row: span 3;
    }

    .footer_contacts {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .footer_blockquote {
        margin: 0;
        height: 140px;
    }

    .footer_blockquote-text {
        margin-bottom: 20px;
        margin-top: 100px;
    }
}

@media (max-width: 640px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header_inner {
        padding-left: 0;
        padding-right: 0;
    }

    .top_title {
        font-size: 40px;
        line-height: normal;
    }

    .blockquote_text {
        font-size: 24px;
        max-width: 376px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .reviews_list {
        flex-wrap: wrap;
        gap: 20px 20px;
    }

    .main-blog_list {
        margin-left: 0px;
    }

    .main-blog_item:nth-child(even) {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .logo {
        margin-right: 80px;
    }

    .logo img {
        width: 40px;
    }

    .menu_list {
        width: 360px;
    }

    .assortment {
        margin-bottom: 60px;
    }

    .assortment_img {
        max-width: 180px;
    }

    .reviews_item:last-child {
        display: none;
    }

    .main-blog {
        padding: 60px 0px;
    }

    .main-blog_item-img {
        max-width: 230px;
    }

    .mailing-list {
        padding: 50px 0;
    }

    .mailing-list_text {
        flex-basis: 100%;
        font-size: 16px;
        text-align: justify;
        padding: 0 15px;
    }

    .mailing-list_inner {
        gap: 30px 0;
    }

    .mailing-list_email {
        width: 320px;
        margin-right: 20px;
    }

    .mailing-list_btn {
        max-width: 100px;
        padding: 12px 28px;
    }

    .main-blog_title {
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .empty_block {
        margin: 0 60px;
    }

    .footer {
        padding: 50px 0 10px 0;
    }

    .footer_inner {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_blockquote {
        width: 100%;
    }

    .footer_blockquote-text {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .footer_blockquote-author {
        padding-left: 20px;
    }

    .footer_blockquote-author span {
        padding-left: 20px;
    }

    .footer_contacts {
        margin-top: 40px;
        width: 100%;
    }

    .footer_contacts-title {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer_contacts-text {
        width: 100%;
        text-align: center;
    }

    .footer_nav {
        flex-wrap: nowrap;
        padding-left: 15px;
    }

    .footer_social {
        margin-left: 30px;
    }

    .footer_copy {
        margin-right: auto;
    }

    .footer_products {
        margin-left: 40px;
        margin-right: auto;
    }

    .footer_company {
        padding-right: 20px;
        margin-right: 50px;
    }
}

@media (max-width: 360px) {

    .logo {
        margin-right: 50px;
    }

    .user-actions_item-search {
        margin-left: 0;
    }

    .header_inner {
        padding: 10px 0;
    }

    .top_title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .top_text {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .top_inner {
        min-height: 367px;
    }

    .blockquote_text {
        max-width: 340px;
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .assortment_img {
        max-width: 140px;
    }

    .reviews_item:first-child {
        display: none;
    }

    .main-blog {
        padding: 50px 0;
    }

    .main-blog_title {
        margin-top: 20px;
        padding-bottom: 0;
    }

    .main-blog_item {
        display: block;
        max-width: 270px;
    }

    .main-blog_item-img {
        max-width: 100%;
    }

    .main-blog_item:nth-child(even) {
        display: none;
    }

    .main-blog_list {
        justify-content: center;
    }

    .main-blog_item-title {
        min-height: auto;
    }

    .mailing-list_email {
        width: 200px;
        font-size: 14px;
    }

    .footer_products {
        padding-right: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer_company {
        padding-right: 15px;
        margin-right: 0;
    }

    .footer_nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_social {
        margin-left: auto;
        margin-right: auto;
    }
}